	@using WebMovie.ViewModels;
	@using WebMovie.ViewModels.Names;
	@model List<NamesVM>;

@{
	ViewData["Title"] = "List of peoples";
}
<head>
	<link href="~/css/Names.css" rel="stylesheet" media="all" />
</head>
<body style="background-color:rgba(0,0,0,0.08)">

	<h1 style="margin-top:50px;margin-bottom:50px">WebMovie Top 50 Peoples</h1>
	<ul class="movies-top list-unstyled">
		@{
			int counter = 1;
		}
		@foreach (var nameVM in Model)
		{
			<li class="row mb-4 mr-3">
				<div class="face col-md-1">
					@{
						string imageUrl;
						if (nameVM.Name.FaceImageUrl != null)
							imageUrl = nameVM.Name.FaceImageUrl;
						else imageUrl = "img/elements/nop.png";
					}
					<img src="@imageUrl" class="img-fluid" alt="Movie Poster">
				</div>
				<div class="description col-md-8">
					<div class="title">
						<a href="@Url.Action("Details", "Names", new { id = nameVM.Name.Id })" class="name-link">
							<span class="h5">@counter. @nameVM.Name.FullName</span>
						</a>
					</div>
					<div class="info">
						@{
							<div class="movie-info"></div>
							foreach (var profession in nameVM.Professions)
							{
								<span>@profession</span>
								@if (profession != nameVM.Professions.Last())
								{
									<span>, </span>
								}
							}
						}

					</div>

				</div>
			</li>
			counter++;
		}
	</ul>
</body>