@using WebMovie.ViewModels;
@using WebMovie.ViewModels.Movies;
@using WebMovie.Data.Enumerations;
@model CreateMovieVM;

@{
	ViewBag.Title = "Add a new movie";
	List<Country> countries = new List<Country>((Country[])Enum.GetValues(typeof(Country)));
	List<MPAA> mpaas = new List<MPAA>((MPAA[])Enum.GetValues(typeof(MPAA)));

}

<div class="row">
	<div class="col-md-4 mx-auto">
		<p><h1>Add a new movie</h1></p>
	</div>
	<div class="row">
		<div class="col-md-5 mx-auto">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Movie.EnglishTitle" class="control-label"></label>
					<input asp-for="Movie.EnglishTitle" class="form-control" />
					<span asp-validation-for="Movie.EnglishTitle" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Movie.Description" class="control-label"></label>
					<input asp-for="Movie.Description" class="form-control" />
					<span asp-validation-for="Movie.Description" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Movie.StartYear" class="control-label">Start year</label>
					<input asp-for="Movie.StartYear" class="form-control" />
					<span asp-validation-for="Movie.StartYear" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Movie.EndYear" class="control-label">End Year</label>
					<input asp-for="Movie.EndYear" class="form-control" />
					<span asp-validation-for="Movie.EndYear" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Movie.Country" class="control-label">Country</label>
					<select asp-for="Movie.Country" asp-items="@(new SelectList(countries))" class="form-control">
						<option value="">Select country</option>
					</select>
				</div>
				<div class="form-group">
					<label asp-for="Movie.MPAA" class="control-label">MPAA</label>
					<select asp-for="Movie.MPAA" asp-items="@(new SelectList(mpaas))" class="form-control">
						<option value="">Select MPAA</option>
					</select>
				</div>
				<div class="form-group">
					<label asp-for="Movie.RuntimeMinutes" class="control-label"></label>
					<input asp-for="Movie.RuntimeMinutes" class="form-control" />
					<span asp-validation-for="Movie.RuntimeMinutes" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Movie.PosterImageUrl" class="control-label"></label>
					<input asp-for="Movie.PosterImageUrl" class="form-control" />
					<span asp-validation-for="Movie.PosterImageUrl" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Directors" class="control-label">Choose directors:</label>
					<select asp-for="Directors" class="form-control" multiple>
						@foreach (var name in ViewBag.Names)
						{
							<option value="@name.Id">@name.FullName</option>
						}
					</select>
					<span asp-validation-for="Directors" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Writers" class="control-label">Choose writers:</label>
					<select asp-for="Writers" class="form-control" multiple>
						<option value="">Not selected</option>
						@foreach (var name in ViewBag.Names)
						{
							<option value="@name.Id">@name.FullName</option>
						}
					</select>
					<span asp-validation-for="Writers" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Producers" class="control-label">Choose producers:</label>
					<select asp-for="Producers" class="form-control" multiple>
						<option value="">Not selected</option>
						@foreach (var name in ViewBag.Names)
						{
							<option value="@name.Id">@name.FullName</option>
						}
					</select>
					<span asp-validation-for="Writers" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Roles" class="control-label">Сhoose the actors and their roles:</label>
					<select asp-for="Roles" class="form-control" multiple onchange="showRoleFields()">
						<option value="">Not selected</option>
						@foreach (var name in ViewBag.Names)
						{
							<option value="@name.Id">@name.FullName</option>
						}
					</select>
					<span asp-validation-for="Roles" class="text-danger"></span>
				</div>

				<div id="roleFields" class="form-group"></div>

				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-outline-warning" />
					<a class="btn btn-outline-secondary" asp-action="Index">Go back</a>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts{
<script>
		function showRoleFields() {
			var selectedActors = document.getElementById("Roles");
			var roleFields = document.getElementById("roleFields");
			roleFields.innerHTML = ""; 

			for (var i = 0; i < selectedActors.options.length; i++) {
				if (selectedActors.options[i].selected && selectedActors.options[i].value !== "") {
					var actorId = selectedActors.options[i].value;
					var actorName = selectedActors.options[i].text;

					var newRoleField = '<div class="form-group" id="roleField_' + actorId + '">'
						+ '<label class="control-label">Role for ' + actorName + ':</label>'
						+ '<input type="text" name="Roles[' + actorId + ']" class="form-control" />'
						+ '</div>';

					roleFields.insertAdjacentHTML('beforeend', newRoleField);
				}
			}
		}
</script>
}