@model List<Movie>

@* добавить отношение с рейтингами*@

@{
	ViewData["Title"] = "List of Movies";
}

@* <ul class="movies-top list-unstyled">
	@{int counter = 1;}
	@foreach (var item in Model)
	{
		<li>
			
			<div class="poster">
				<img src="@item.PosterImageUrl" />
			</div>

			<div class="description">
				<div class="title">
					<span>@counter. @item.EnglishTitle</span>
				</div>
				<div class="info">
					<div class="year"></div>
					<div class="runtime-minutes"></div>
					<div class="mpaa"></div>
				</div>
				<div class="rating"></div>
			</div>


		</li>
		counter++;
	}
</ul> *@

<ul class="movies-top list-unstyled">
	@{
		int counter = 1;
	}
	@foreach (var item in Model)
	{
		<li class="row mb-4 mr-3">
			<div class="poster col-md-1">
				<img src="@item.PosterImageUrl" class="img-fluid" alt="Movie Poster">
			</div>
			<div class="description col-md-8">
				<div class="title">
					<span class="h5">@counter. @item.EnglishTitle</span>
				</div>
				<div class="info">
					<div class="year"></div>
					<div class="runtime-minutes"></div>
					<div class="mpaa"></div>
				</div>
				<div class="rating"></div>
			</div>
		</li>
		counter++;
	}
</ul>