@using WebMovie.ViewModels;
@using WebMovie.ViewModels.Movies;
@model List<MoviesVM>;

@{
	ViewData["Title"] = "List of Movies";
}
<head>
	<link href="~/css/Movies.css" rel="stylesheet" media="all" />
</head>
<body style="background-color:rgba(0,0,0,0.08)">
<h1 style="margin-top:50px;margin-bottom:50px">WebMovie Top 250 Movies</h1>
<ul class="movies-top list-unstyled">
	@{
		int counter = 1;
	}
	@foreach (var movie in Model)
	{
		<li class="row mb-4 mr-3">
			<div class="poster col-md-1">
				<img src="@movie.Movie.PosterImageUrl" class="img-fluid" alt="Movie Poster">
			</div>
			<div class="description col-md-8">
				<div class="title">
					<a href="@Url.Action("Details", "Movies", new { id = movie.Movie.Id })" class="movie-link">
						<span class="h5">@counter. @movie.Movie.EnglishTitle</span>
					</a>
				</div>
				<div class="info">
					@{
						var runtime = TimeSpan.FromMinutes(movie.Movie.RuntimeMinutes);
						var formattedRuntime = $"{runtime.Hours}h {runtime.Minutes}m";
					}
					<div class="movie-info"><span>@movie.Movie.StartYear</span> <span>@formattedRuntime</span> <span>@movie.Movie.MPAA</span> </div>
				</div>
				@{
					string? votes;
					char order = ' ';
					var votesNumber = movie.Rating.VotesNumber;
					if (votesNumber >= 1000000)
					{
						order = 'M';
						votes = ((float)votesNumber / 1000000).ToString("0.0");
					}
					else if (votesNumber >= 1000)
					{
						order = 'K';
						votes = ((float)votesNumber / 1000).ToString("0.0");
					}
					else
					{
						order = ' ';
						votes = votesNumber.ToString();
					}
					var formattedVotesNumber = $"({votes}{order})";
				}

				<div class="rating">
					<div class="rating-img-wrap">
						<img src="./img/elements/star.png" alt="Star" />
					</div>
					<p class="rating-number">@movie.Rating.AverageRating @formattedVotesNumber</p>

				</div>
			</div>
		</li>
		counter++;
	}
</ul>
</body>