@using WebMovie.ViewModels;
@model MoviesVM;

@{
	ViewData["Title"] = "List of Movies";
}
<head>
	<link href="~/css/Movies.css" rel="stylesheet" media="all" />
</head>
<ul class="movies-top list-unstyled">
	@{
		int counter = 1;
	}
	@foreach (var item in Model.Movies)
	{
		<li class="row mb-4 mr-3">
			<div class="poster col-md-1">
				<img src="@item.PosterImageUrl" class="img-fluid" alt="Movie Poster">
			</div>
			<div class="description col-md-8">
				<div class="title">
					<span class="h5">@counter. @item.EnglishTitle</span>
				</div>
				<div class="info">
					@{
						var runtime = TimeSpan.FromMinutes(item.RuntimeMinutes);
						var formattedRuntime = $"{runtime.Hours}h {runtime.Minutes}m";
					}
					<div class="movie-info"><span>@item.StartYear</span> <span>@formattedRuntime</span> <span>@item.MPAA</span> </div>
				</div>
				@{
					string? votes;
					char order = ' ';
					var votesNumber = Model.Ratings.FirstOrDefault(r => r.MovieId == item.Id)?.VotesNumber;
					if (votesNumber >= 1000000)
					{
						order = 'M';
						votes = ((float)votesNumber / 1000000).ToString("0.0");
					}
					else if (votesNumber >= 1000)
					{
						order = 'K';
						votes = ((float)votesNumber / 1000).ToString("0.0");
					}
					else
					{
						order = ' ';
						votes = votesNumber?.ToString();
					}
					var formattedVotesNumber = $"({votes}{order})";
				}

				<div class="rating">
					<div class="rating-img-wrap">
						<img src="./img/elements/star.png" alt="Star"/>
					</div>
					<p class="rating-number">@item.Rating.AverageRating @formattedVotesNumber</p>
					
				</div>
			</div>
		</li>
		counter++;
	}
</ul>